#left{
    height: 400px;
    border: 1px solid #fde164;
    border-right: none;
    margin-bottom: 0;
    background-color: #fdf9dd;
    box-shadow: #868686 7px 8px 5px;
}
#middle{
    height: 400px;
    border: 1px solid #fde164;
    background-color: #fdf9dd;
    box-shadow: #868686 7px 8px 5px;
}
#right{
    height: 400px;
    border: 1px solid #fde164;
    border-left: none;
    background-color: #fdf9dd;
    box-shadow: #868686 7px 8px 5px;
}
.light{
    color: red;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}
.container2{
    width: 100%;
    border-shadow: #ccc 5px 5px 5px;
    background-image: url("../images/writePic.png");
    background-size:cover;
}

.trainning1{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: gold;
    border-radius: 8px;
}
#row1{
    padding-top: 140px;
}